<title>Express & Explore-Read</title>
<link rel="icon" type="image/x-icon" href="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-thinking-icon-png-image_4224875.jpg">
<body>
    <h1 id="titles">Express & Explore</h1>
    <div id="all">
        <div id="parts">
                <h1>{{blogs.title}}</h1>
                <h4>{{blogs.posted}}</h5>
                <p>{{blogs.body}}</p> 
        </div>
    </div>
</body>
<style>
    body{
        background-color: bisque;
    }
    p{
        font-size: large;
        line-height: 2;
    }
    #all, #btn2{
        margin-left: 10%;
        margin-top: 5%;
        margin-right: 10%;
    }
    #titles{
        margin-left: 45%;
        margin-top: 5%;
    }
    #btn2{
        display: inline-block;
        padding: 10px 20px;
        background-color:white; 
        color: black;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }
    
    #btn2:hover{
        background-color: rgb(0, 183, 0);
        color: white;
    }
    #btn{
        margin-left: 1%;
        display: inline-block;
        padding: 10px 20px;
        background-color: white; 
        color: black;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }
    
    #btn:hover{
        background-color: rgb(206, 42, 42);
        color: white;
    }
</style>